* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.joe {
    background-color: #db9615;
    width: 100%;
    min-height; 50%;
}


 img {
  align-items: center;
  display: block;
 }

h2 {
  text-align: center;
  color: #000000;
  font-size: 50px;
  font-weight: 400;
  color: #ff0000;
}

h6 {
  text-align: center;
  color: #000000;
  font-size: 60px;
  background: #52390a;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

h1 {
    text-align: center;
    color: #909024;
    font-size: 30px;
}

h5 {
  text-align: center;
  color: #000000;
  font-size: 35px;
}

h3 {
  text-align: center;
  color: #000000;
  font-size: 50px;
  background: #dfc596;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 25px;
  color: #000000;
}

h4{
  text-align: center;
  color: #000000;
  font-size: 45px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: #dd9898;
}
article {
  text-align: center;
  font-size: 100%;
  background: #fff;
}
 
hr {
  background-color: #0af7f7;
    color:#0af7f7;
    height: 8px;
    border-width: 0;
}


b {
  background-color: #fff;
  font-size: 10px;
}

footer {
    width: 100%;
    background-color: #db9615;
    text-align: center;
}





