* {
    box-sizing: border-box;
}

.allColumns {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

@media  screen and (max-width:768px) {
    .allColumns {
        width: 100%;
    }
}

h1 {
    color: #c4954e;
    text-align: center;
    font-size: 35px;
    padding: 25px;
}

h2 {
    color: #000000;
    text-align: center;
    font-size: 35px;
    background-color: #c4954e;
    width: 30%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

h3 {
    color: #fff;
    background-color: #fff;
    padding: 20px;

    
}

h5 {
    text-align: center;
    color: #000000;
    font-size: 100px;
    background-color: #c4954e;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

h6 {
    font-size: 30px;
    color: #000000;
    text-align: center;
    width: 28%;
    background-color: #f09000;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

u {
    font-size: 30px;
    color: #486906;
}

hr {
    background-color: #0af7f7;
    height: 15px;
}

img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 35px;
    color: #000000;
}

h4 {
    color: #000000;
    background-color: #dd9898;
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    border-radius: 25px;
    padding: 15px;
}

    
article {
    background-color: #ffffff;
    text-align: center;
    font-size: 100%;
}

b {
    background-color: #fff;
}

footer  {
      width: 100%;
      font-size: 35px;
      background-color: #c4954e;
      text-align: center;
      padding: 18px;
}






